@media (max-width:800px){
    body{
        background-color: rgb(11, 204, 218);
    }
}


@media (max-width: 450px){
    .app-box{
        width:515px;
        position: relative;
        right: 40px;
        height: 850px;
        margin-top: 20px;
    }
    

    .todoDefine{
        background-color: #fff;
        position: absolute;
        right: 250px;
        top: 115px;
        left: 50px;
        width: 290px;
        bottom: ;
    }

    #btn1{
        position: relative;
        top: 0px;
        top: -40px;
        left: -7px;
        width: 80px;
    }
    #btn2{
        position: relative;
        top: -40px;
        left: 0px;
        width: 80px;
    }
    ul#list{
        left: 50px;
    }
    li::after{
        width:450px;
    }
    
    .fa-trash{
        margin-left: 0px; 
    }

    .fa-pencil{
        margin-left:20px;   
    }
}